In [1]:
import json
import pandas as pd
from Cluster import *

# Words-Cloud splitter

Here I prepared a small user interface to test the cloud-splitter.

After reading the data one can call an object "Cluster". At initiation, we start with the root node.
The class contains the list of the current cloud and the next split.

- Cluster.df
- Cluster.node_id
- Cluster.parent_node_list
- Cluster.list_left
- Cluster.node_id_left
- Cluster.list_right
- Cluster.node_id_right

Functions:

One can recurrently decide to click left or right to split the respective word-clouds.
We can also visualize the top_n entries (sorted by occurrences) for left and right cloud.

- Cluster.display_clouds()
- Cluster.click_left()
- Cluster.click_right()

In [17]:
# read data
data=pd.read_json('compact_df.json', lines=True)

In [18]:
# Inizialize word cloud
tree_cluster=Cluster(data)

Root Node
---------
len_list_left: 10
len_list_right: 100

node_id Left: 212  node_id Right: 217

In [19]:
tree_cluster.display_clouds(top=5)

node_id Left: 212

                       Topic  Size
0    International relations    76
1             Foreign policy    42
2            Global politics    31
3    Politics of North Korea    30
4  Government of North Korea    29

node_id Right: 217

                              Topic  Size
0                          Politics   150
1                        Government   116
2                         Conflicts    67
3                      Donald Trump    59
4  Political career of Donald Trump    52

In [20]:
tree_cluster.click_right()

click!
len_list_left: 19
len_list_right: 81

node_id Left: 202  node_id Right: 216

In [21]:
tree_cluster.click_left()

click!
len_list_left: 9
len_list_right: 10

node_id Left: 183  node_id Right: 191

In [22]:
tree_cluster.display_clouds(top=5)

node_id Left: 183

                     Topic  Size
0    Arab–Israeli conflict    10
1       State of Palestine    10
2        Islam and Judaism     9
3  Israel–Jordan relations     9
4      Judaism and warfare     9

node_id Right: 191

                         Topic  Size
0  Politics of the Middle East    25
1                  Middle East    20
2                       Israel    18
3           Politics of Israel    15
4         Government of Israel    14

## Getting to the end of the tree 

When clicking through the tree and landing to a leaf, the click will no longer provide splits

In [27]:
tree_cluster.click_right()

click!
Leaf Node - No more Splits

In [28]:
tree_cluster.display_clouds(top=5)

node_id Left: Leaf

                Topic Size
0  Politics of Israel   15

node_id Right: Leaf

    Topic Size
0  Israel   18